<form class="d-flex flex-row col-md-7 m-auto mt-4" action="/search">

  <select
    class="form-control me-2"
    style="width:200px"
    name="categoryId"
    id="category"
    required
  >
    <option value="" disabled selected hidden>類別搜尋</option>
    <option value="家居物業">家居物業</option>
    <option value="交通出行">交通出行</option>
    <option value="休閒娛樂">休閒娛樂</option>
    <option value="餐飲食品">餐飲食品</option>
    <option value="其他">其他</option>
  </select>

  <button class="form-control" type="submit" style="width:80px">送出</button>
  <a
    href="/"
    class="form-control text-center ms-2"
    style="width:90px; text-decoration: none"
  >清除搜尋</a>

</form>

<div class="d-flex flex-row col-md-7 m-auto mt-5">
  <h5>總金額: </h5>
  <h1 class="ms-5">{{totalAmount}}</h1>
</div>

<ul class="list-group mt-3">
  {{#each records}}
    <div class="col-md-7 m-auto">
      <li class="list-group-item">
        <div class="d-flex">
          <div class="d-flex flex-row me-auto">
            <div class="align-self-center me-2">
              {{{this.icon}}}
            </div>

            <div class="d-flex flex-column">
              <h4 style="display: inline">
                {{this.name}}
              </h4>
              <span style="font-size:1px">{{this.date}}</span>
            </div>
          </div>
          <div class="align-self-center me-3">
            <i class="fa-solid fa-dollar-sign"></i>
            {{this.amount}}
          </div>

          <div class="align-self-center">
            <a
              href="/records/{{this._id}}/edit"
              class="btn btn-secondary"
            >修改</a>
            <form
              action="/records/{{this._id}}?_method=Delete"
              method="POST"
              style="display: inline"
            >
              <button class="btn btn-danger" type="submit">刪除</button>
            </form>
          </div>

        </div>
      </li>
    </div>

  {{/each}}
  <a
    href="/records/new"
    class="btn btn-outline-success W-25 m-auto mt-4"
  >新增支出</a>
</ul>