<div class="d-flex flex-row col-md-7 m-auto mt-5">
  <h5>總金額: </h5>
  <h1 class="ms-5">{{totalAmount}}</h1>
</div>

<ul class="list-group mt-3">
  {{#each records}}
    <div class="col-md-7 m-auto">
      <li class="list-group-item">
        <div class="d-flex">
          <div class="d-flex flex-row me-auto">
            <div class="align-self-center me-2">
              {{{this.categoryId.icon}}}
            </div>

            <div class="d-flex flex-column">
              <h4 style="display: inline">
                {{this.name}}
              </h4>
              <span style="font-size:1px">{{this.date}}</span>
            </div>
          </div>
          <div class="align-self-center me-3">
            <i class="fa-solid fa-dollar-sign"></i>
            {{this.amount}}
          </div>

          <div class="align-self-center">
            <a
              href="/records/{{this._id}}/edit"
              class="btn btn-secondary"
            >修改</a>
            <form
              action="/records/{{this._id}}?_method=Delete"
              method="POST"
              style="display: inline"
            >
              <button class="btn btn-danger" type="submit">刪除</button>
            </form>
          </div>

        </div>
      </li>
    </div>
  {{/each}}
</ul>